@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #ffffff, #8fbce9);
  background-size: cover;
}

.app {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  width: 70vw;
  height: 50vh;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  border-radius: 100px;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  background-image: linear-gradient(to right, #a1bcf4, #5f88ee);
  border-radius: 100px;
  color: white;
}
.welcome-message p {
  padding: 20px;
}

label > input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #5f88ee;
  width: 80%;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form > button {
  margin: 10px 0;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #5f88ee;
  width: 30%;
  background-color: #5f88ee;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.welcome-message > button {
  margin: 10px 0;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #ffffff;
  width: 30%;
  background-color: #ffffff;
  color: black;
  font-weight: 600;
  cursor: pointer;
}
